.video-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.card {
  aspect-ratio: 9/20;
  width: 200px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.thumbnail {
  aspect-ratio: 9/16;
  width: inherit;
  border-radius: 16px;
}

.card-desc {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.post-title {
  font-size: 16px;
  font-weight: bold;
}

.handle {
  font-size: 12px;
  color: #646cff;
}

.popup {
  border-radius: 16px;
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  z-index: 10;
}

@media (max-width: 768px) {
  .card {
    width: 300px;
  }
}